/* CUSTOM-PROPS */
:root {
	--striking-color: #ea625c;
	--text-color: #333;
	--button-bg: #c9514c;
	--font-family: 'Roboto', 'Arial', sans-serif;
}

/* GLOBAL */
html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	background-color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
}

/* LOADER */
#loader {
	border: 12px solid var(--striking-color);
	border-top: 12px solid var(--text-color);
	border-radius: 50%;
	width: 70px;
	height: 70px;
	animation: spin 1s linear infinite;
}

.center {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 110;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

/* GLOBAL-OUTLINE */
.button:focus {
	outline: 2px dashed var(--striking-color);
	outline-offset: 2px;
}

/* SITE-BUTTON */
.button {
	padding: 12px 38px;
	min-width: 260px;
	border: 0;
	color: #fff;
	background-color: var(--striking-color);
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	line-height: 1.5;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: var(--button-bg);
}

.button:active {
	opacity: 0.6;
}

/* LINED-LINK */
.lined-link {
	display: inline-flex;
	align-items: center;
	color: var(--striking-color);
	font-weight: 700;
	line-height: 1.6;
	text-transform: uppercase;
	text-decoration: none;
}

.lined-link::before {
	content: '';
	width: 40px;
	height: 3px;
	margin-right: 10px;
	background-color: var(--striking-color);
	transition: width 0.3s ease;
}

.lined-link:hover::before {
	width: 60px;
}

/* CONTAINER */
.container {
	width: 100%;
	max-width: 1040px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
	flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
	padding-top: 30px;
	padding-bottom: 30px;
	position: fixed;
	width: 100%;
	background-color: #fff;
}

.header-border {
	border-bottom: 2px solid var(--striking-color);
}

.site-header-container {
	display: flex;
	align-items: center;
}

/* SITE-LOGO */
.site-logo-link {
	margin-right: auto;
}

.site-logo-img {
	width: 35px;
	height: 42px;
	object-fit: cover;
	display: block;
	transition: opacity 0.3s ease;
}

.site-logo-img:hover {
	opacity: 0.8;
}

.site-logo-img:active {
	opacity: 0.6;
}

/* SITENAV */
.sitenav {
	margin-right: 40px;
	position: relative;
}

.touch {
	display: none;
}

.sitenav-list {
	padding: 0;
	margin: 0;
	display: flex;
}

.sitenav-item {
	list-style: none;
}

.sitenav-item:not(:last-child) {
	margin-right: 30px;
}

.sitenav-link {
	padding-top: 6px;
	padding-bottom: 3px;
	border-bottom: 3px solid transparent;
	text-decoration: none;
	color: var(--text-color);
	font-size: 15px;
	line-height: 1.5;
	display: block;
	transition: border-bottom 0.3s ease;
}

.sitenav-link:hover {
	border-bottom: 3px solid var(--text-color);
}

/* SITE-SEARCH */
.search-input {
	border: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid var(--text-color);
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
}

.search-input[type='search']::-webkit-search-cancel-button {
	display: none;
}

.mobile-menu {
	display: none;
}

/* HERO-SECTION */
.hero {
	padding-top: 150px;
	padding-bottom: 185px;
	border-bottom: 1px solid #ddd;
	background-image: url('../img/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: left calc(50% + 535px) bottom;
}

.lead-cta {
	max-width: 490px;
}

.lead-cta-heading,
.lead-cta-paragraph {
	margin-top: 0;
	margin-bottom: 30px;
}

.lead-cta-heading {
	font-weight: 700;
	font-size: 50px;
	line-height: 1.2;
	color: #000;
}

.information-lead-cta .lead-cta-heading {
	color: #fff;
}

.lead-cta-paragraph {
	padding-left: 37px;
	border-left: 3px solid #888;
	color: #777;
}

.information-lead-cta .lead-cta-paragraph {
	border-left-color: #fff;
	color: #fff;
}

.hero-img {
	display: none;
}

/* FEATURES-SECTION */
.features {
	padding-top: 70px;
	padding-bottom: 70px;
}

.features-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
}

.features-item {
	width: 280px;
	list-style: none;
}

.features-title {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.5;
	color: #222;
	text-transform: uppercase;
}

.features-subtitle {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 15px;
	color: var(--text-color);
}

.features-divider {
	width: 8px;
	height: 8px;
	margin: 0;
	border: 0;
	background-color: #ddd;
	box-shadow: 16px 0 0 0 #ddd, 32px 0 0 0 #ddd;
}

/* SALE-SECTION */
.sale {
	padding-top: 70px;
	padding-bottom: 70px;
}

.sale-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slae-img {
	width: 400px;
	height: 600px;
	object-fit: cover;
}

/* INFORMATION-SECTION */
.information {
	padding-top: 240px;
	padding-bottom: 240px;
	background-image: url('../img/information-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
}

.information-lead-cta {
	margin-left: auto;
}

/* RETINA BG */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
	.hero {
		background-image: url('../img/hero-bg@2x.jpg');
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
	.information {
		background-image: url('../img/information-bg@2x.jpg');
	}
}

/* MEDIA-QUERIES */
@media only screen and (max-width: 1250px) {
	.hero {
		background-image: none;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.hero-container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		gap: 40px;
	}

	.hero-img {
		display: block;
		object-fit: contain;
	}

	.features {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.sale {
		padding-top: 0;
		padding-bottom: 50px;
	}

	.information {
		padding-top: 200px;
		padding-bottom: 200px;
		background-attachment: local;
		background-position: left top;
	}
}

@media only screen and (max-width: 1000px) {
	.sale-container {
		flex-direction: column-reverse;
		gap: 40px;
	}
}

@media only screen and (max-width: 800px) {
	.site-header {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.sitenav {
		position: fixed;
		z-index: 90;
		width: 60vw;
		height: 100vh;
		margin-right: 0;
		right: 0;
		top: 0;
		background-color: var(--striking-color);
		padding: 20px;
		transform: translateX(100%);
		transition: transform 0.3s ease;
	}

	.touch {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		top: 40%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 125px;
		height: 125px;
		border-radius: 50%;
		padding: 10px;
		border: 3px solid gold;
	}

	.touch-circle {
		font-weight: 700;
		color: var(--text-color);
		white-space: nowrap;
		transform: rotate(90deg);
		animation-name: touch-animation;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}

	@keyframes touch-animation {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}

	.sitenav.open-menu {
		transform: translateX(0);
	}

	.sitenav-list {
		flex-direction: column;
		align-items: center;
	}

	.sitenav-item:not(:last-child) {
		margin-right: 0;
	}

	.sitenav-link {
		color: #fff;
		font-weight: 700;
	}

	.sitenav-link:hover {
		border-bottom-color: #fff;
	}

	.form {
		display: none;
	}

	.mobile-menu {
		display: block;
		width: 35px;
		height: 35px;
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
		padding: 0;
	}

	.mobile-icon {
		width: 35px;
		height: 35px;
		color: var(--striking-color);
	}
}

@media only screen and (max-width: 650px) {
	.hero-img {
		width: 487px;
		height: 465px;
	}

	.features-list {
		gap: 40px;
	}

	.features-title {
		margin-bottom: 10px;
	}

	.features-subtitle {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 500px) {
	.hero-img {
		width: 387px;
		height: 365px;
	}

	.lead-cta-heading {
		font-size: 40px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 400px) {
	.hero {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.hero-container {
		gap: 20px;
	}

	.hero-img {
		width: 337px;
		height: 315px;
	}

	.lead-cta-heading {
		margin-bottom: 15px;
	}

	.lead-cta-paragraph {
		padding-left: 20px;
	}
}

@media only screen and (max-width: 350px) {
	.hero-img {
		width: 283px;
		height: 265px;
	}

	.lead-cta-paragraph {
		margin-bottom: 20px;
	}

	.button {
		padding-left: 10px;
		padding-right: 10px;
		min-width: 240px;
	}

	.lead-cta-heading {
		font-size: 35px;
	}
}

@media only screen and (max-width: 305px) {
	.hero-img {
		width: 253px;
		height: 235px;
	}

	.lead-cta-heading {
		font-size: 30px;
	}

	.lead-cta-paragraph {
		padding-left: 15px;
		margin-bottom: 15px;
	}
}
